<div class="sidebar__topbar">
  <div class="sidebar__topbar__search-widget">
    {{input type="text" name="keyword" id="keyword" placeholder="Search note..." value=keyword key-up="search"}}
    <i class="fa fa-search"></i>
  </div>
  <ul class="sidebar__topbar__buttons">
    <li>
      <a href="#" {{action "toggleTagsView"}}><i class="fa fa-tags"></i></a>
    </li>
    <li>
      <a href="#" {{action "add"}}><i class="fa fa-plus"></i></a>
    </li>
  </ul>
  <div class="sidebar__topbar__tags" style="display: none">
    <select name="tags" id="tags" multiple="multiple" data-placeholder="Filter tags...">
      {{#each tags as |tag|}}
        <option value="{{tag}}">{{tag}}</option>
      {{/each}}
    </select>
  </div>
</div>
